<nav class="purple darken-4"> 
 <div class="nav_left">
    <a href="#" data-target="slide-out" class="sidenav-trigger"style="display:inline-block!important;"><i class="material-icons" >menu</i></a>
 </div>
 <div class="nav_left">
    <a href="/api/auth/logout"  class="logout_btn" >Logout</a>
 </div>

   </nav>
  

  <ul id="slide-out" class="sidenav purple darken-3">
    <li><div class="user-view">
      <div class="background">
        <img src="/uploads/{{userAdmin.avatar}}">
      </div>
      <a href="/user"><img class="circle" src="/uploads/{{userAdmin.avatar}}"></a>
      <a href="#name"><span class="white-text name">{{userAdmin.username}}</span></a>
      <a href="#email"><span class="white-text email">{{userAdmin.email}}</span></a>
    </div></li>
    <li><a href="/">Home page</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="/blogs">All blogs</a></li>
    <li><a class="waves-effect" href="/blogs/add">Add new blog</a></li>
  </ul>