

<div class="row">
    <div class="my_porfolio">
        <h2>HTML CSS and JS used sites in my portfolio</h2>

        <span>Heroku CRUD app with Authentication  <a href="https://dry-hollows-24412.herokuapp.com/">Shop</a></span>
        <ul>
            <li>Responsive Tourism site - <a href="https://asadbek-portfolio-tour-site.netlify.app">Tourism</a></li>
            <li>Responsive Fitness site - <a href="https://fitness-portfolio-ae1.netlify.app">Fitness</a></li>
            <li>Responsive Abdullah Noman site - <a href="https://abdullahnoman-portfolio-ae1.netlify.app">Abdullah Noman</a></li>
            <li>Responsive Restaurant site - <a href="https://asadbek-porfolio-luxury-restaurant.netlify.app">Luxury Restaurant</a></li>
            <li>Responsive Man site - <a href="https://asadbek-portfolio-manshop.netlify.app">Man shop</a></li>
            <li>Responsive Pizza site - <a href="https://asadbek-portfolio-pizza.netlify.app">Pizza</a></li>
            <li>Responsive Burger site - <a href="https://asadbek-portfolio-burger.netlify.app">Burger</a></li>
            <li>Responsive Creative Pixel site - <a href="https://asadbek2021.github.io/">Creative Pixel</a></li>
        </ul>
    </div>
</div>