<div class="row pt-5">
    <div class="col-4">
        <div class="user_img">
            <img src="/uploads/{{user.avatar}}" alt="{{user.avatar}}" style="width: 100%;">
        </div>
    </div>
    <div class="col-6 d-flex flex-column align-items-center justify-content-center">
        <div class="user_info">
            <h3>{{user.username}}</h3>
            <small>{{user.email}}</small>
        </div>
        <div class="user_action">
            <a class="btn btn-dark" href="/user/edit">Edit</a>
            <a class="btn btn-danger" href="/user/delete">Delete</a>
        </div>
    </div>
</div>